/*
*************************************************
Photocaptionist: Amateur Exhibition site
General Screen Styles
Version 1
Created by the soldiers at Good Caesar
http://www.goodcaesar.com
london@goodcaesar.com
**************************************************/

@import "bootstrap";
@import "mixins";

html {
	height: 100%;
}
		
/** 
 * General stuff
 */

body {
	font-family:$serif;
}

img {
	max-width:100%;
	height:auto;
}

small {
	display:block;
	margin:0.3em 0;
	font-size:110%;
}

.pull-center {
	text-align:center;
	margin-left: auto;
	margin-right:auto;
}

/** 
 * Navigation & Header
 */	


// NAV

nav {
	position:fixed;
	top:0;
	background:$light-brown;
	width:100%;	
	border-bottom:1px solid lighten(#654f3b,50%);			

	@media (min-width: $screen-sm-min){
		width:120px;
		left:0;		
		height:100%;	
		border-right:1px solid lighten(#654f3b,50%);		
	}

	z-index:200;

	h1 {
		float:left;
		margin:0;
		padding:0.5em;
		
		@media (min-width: $screen-sm-min){
			float:none;
			text-align:center;
			padding:0.2em;
			margin:0.2em 0;
		}
	
		&#sitename {
			
			a {
				float:left;
				@include at2x('p-logo-mobile',25px,45px);
				width:25px;
				height:45px;
				text-indent:-999em;
				background-repeat:no-repeat;			
				display:block;				
				margin:0 auto;
				
				@media (min-width: $screen-sm-min){		
					float:none;		
					width:45px;
					height:77px;
					@include at2x('p-logo',45px,81px);
				}
			}
		}
	}
	
	ul {
		float:right;
		text-align:right;
		width:70%;
		
		@media (min-width: $screen-sm-min){
			float:none;
			width:100%;
			text-align:center;
			
			li:first-child {
				border-top:1px solid rgba($yellow,0.2);
			}
			
		}
		
		margin:0;
		padding:0;
		
		li {
			list-style:none;
			margin:0;
			text-align:right;
			
			font-size:1em;
			padding:0;
			text-transform:uppercase;

			float:left;
			display:block;
			width:24%;
										
			@media (min-width: $screen-sm-min){
				float:none;
				width:auto;
				font-size:1.15em;
				text-align:center;
				margin-right:0px;
			}
			
			a {
				vertical-align:top;
				display:block;
				float:left;
				width:100%;
				color:lighten(#654f3b,30%);
				text-align:center;
				
				&:visited {
					color:#654f3b;
				}
												
				@include transition(0.4s,all,ease);
				
				@media (min-width: $screen-sm-min){					
					float:none;
					width:auto;
					display:block;
					border-bottom:1px solid lighten(#654f3b,50%);					
				}
				
				padding:0.55em 0.3em;
				text-shadow: 0px 1px 1px lighten(#654f3b,50%);
				
				&:hover,
				&.active {
					text-decoration:none;
					background:darken(#f2efe0,20%);
					color:$black;
				}
			}
		}
	}	
}

.share {
	margin-top:0em;
	float:left;
	width:30px;
	
	@media (min-width: $screen-sm-min){
		float:none;
		width:auto;
	}
	
	div {
		a {
			text-shadow:0 0 0 0;
			border-top:none;			
			display:block;
			padding:4px;
			width:30px;
			text-align:center;

			@media (min-width: $screen-sm-min){
				padding:10px;
				width:58px;
				text-align:center;
				float:left;			
			}
			border-bottom:none;
			
			&:hover {
				background:darken(#f2efe0,20%);			
			}
		}
		
		img {
			height:20px;
			@media (min-width: $screen-sm-min){
				height:28px;
			}
		}
	}	
}

#content {	
	margin-top:70px;

	@media (min-width: $screen-sm-min){
		
		margin-left:120px;
		margin-top:0;
		
		section:first-child {	
			padding-top:0px;
		}
		
	}
}

// INTRO

#intro {
	padding:2em 0;
	background:#6f5d49 url(../assets/flower_tile_large.jpg);
}

#intro .welcome {
	@media (min-width: $screen-sm-min){		
		width:50%;
	}
	border:1px solid #473c38;
	
}

.welcome {

	audio {
		margin-bottom:1em;
	}

	border:1px solid rgba(#473c38,0.4);
	
	background:#c6af82;
	padding:0.5em;
	
	margin:0 auto;
	text-align:center;
	
	@media (min-width: $screen-sm-min){		
		width:75%;
	}
	
	h1,h2 {
		text-shadow: 0px 1px 1px lighten(#654f3b,50%);		
		color:#473c38;
		font-weight:normal;
	}
	
	h1 {
		margin-top:1em;
		span {
			border-bottom:1px dashed #473c38;		
		}
	
		margin:1em 0 0.5em 0;
		padding:0;
		text-transform:uppercase;
	}
	
	h2 {		
		margin:0 0 1.5em 0;
	}	
	
	.line {
		overflow:hidden;
		
		&:before {
			text-shadow: 0px 1px 1px lighten(#000,50%);		
			content:'===================================================================';
			width:100%;		
			//text-shadow: 1px 1px 0px rgba(255,255,255,.2); /* 50% black coming from the top */	
		}
	
		margin: 0;
		font-size:1.1em;
		display:block;
		width:100;
		color:lighten(#473c38,5%);
	}
	margin-bottom:2em;
}

.welcome.paper {
	
	border:1px solid rgba(#473c38,0.1);
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.7);
	
	blockquote p {
		color:#734513 !important;
		padding:40px;
		text-shadow: 0px 1px 0px rgba(255,255,255,0.3);
	}
	
	&.small {
		blockquote {
			 p {
			 	padding:0.5em;
			 	font-size:1.4em;
			 	margin:0 0 0.5em 0;
			 }
		}
	}	
}

.mute {
	float:right;
	font-size:1.2em;
	font-weight:bold;
	color:#666;
}

// CHARACTERS.

.characters {

	h4 {
		font-size:1.3em;
		font-weight:normal;
		font-family:$sans-serif;
	}

	p {
		font-size:1.15em;		
		font-family:$sans-serif;	
	}

	ul {
		margin:0;
		padding:0;
		
		list-style:none;
		
		li {
			font-size:1.15em;
			font-family:$sans-serif;
			strong {
				font-weight:600;
				text-transform:uppercase;
			}
			margin-bottom:0.5em;
		}
	}
}

.light-grey {
	background:$light-grey;
}

.mid-grey {
	background:$mid-grey;
}

.text {
	p {
		font-family:$sans-serif;
		margin-top:0;
		margin-bottom:0.7em;
		font-size:1.3em;
	}
}

.image-quote {
	padding:3em 0;
}


// CHAPTER INTRO
.chapter {
	background:#f0ede5;
	border-bottom:1px solid rgba($black, 0.2);
	
	h1 {
		text-align:center;
		display:inline-block;
		margin:0 auto;
		
		&.chapterhead {
			
			margin-top:40px;
			
			width:84px;
			height:150px;
			
			@include at2x('chapter-head',84px,150px);
			
			background-repeat:none;
			display:block;
			text-indent:-999em;
			
		}
	}
	
	.chaptercard {
	
		max-width:80%;
		padding-top:1em;
	
		@media (min-width: $screen-sm-min) {
			max-width:50%;
			padding-top:0;
		}
	
		text-align:center;
		margin:0 auto;
		
		p {
			font-size:1.2em;
			font-family:$sans-serif;		
		}
	}	
}


// BLOCKQUOTES

blockquote {
	
	margin:0;
	
	.left {
		text-align:left;
	}
	
	.right {
		text-align:right;
	}

	.dark {
		color:$black;
	}
	
	.white {
		color:$light-grey;
	}
	
	.light {
		font-weight:100;
	}
	
	p {
		color:$super-black;
		font-weight:300;
	 	font-size:1.4em;
	 	text-shadow: 0px 1px 0px rgba(255,255,255,0.3);
	}
	
	span {
		text-transform:uppercase;
		font-size:95%;
		letter-spacing:1px;
	}
	
	.light {
		text-shadow: 0px 1px 0px rgba(0,0,0,0.6);		
	}
	
	.enlarged {	
		font-size:2.0em;
		quotes: "\201C""\201D""\2018""\2019";
		text-shadow: 0px 1px 0px rgba(255,255,255,0.3);
	}
}

.photos {
	//border-bottom:1px dashed $dark-grey;
	padding:4.5em 0;
	background:$super-black;
	
	p {
		color:$off-white;
	}
	
	blockquote {
	
	}
	
	&.green {
		background:#484b44;
	}
}



.full-quote {
	background:#bfbfbf;	
	
	blockquote {
		p {
			color:$black;
		}
	}
}

.continue {
	font-weight:normal;
	font-weight:100;	
	width:100%;
	text-align:center;
	
	a {
		@include transition(0.2s,all,ease);
		
		position:relative;
		text-align:center;
		padding:3em auto;
		display:block;
		background:$light-brown;
		display:inline-block;
		width:1.6em;
		height:1.6em;
		border-radius:3em;
		color:$black;
		line-height:1.5em;
		font-size:2.8em;				
		font-family:$serif;

		
		span {
			font-weight:normal;
		}
		
		&:hover {
			background:darken($light-brown,20%);
			text-decoration:none;
		}
	}	
	
	overflow:hidden;
		
	&.bottom {
		@media (min-width: $screen-sm-min) {
			position:absolute;
			bottom:1em;
			width:auto;
			left:53%;
		}			
	}
}

.videoInner {
	position:relative;
	height:0;
	padding-bottom:56.25%;
	
	iframe,
	.videoInner img {
		position:absolute;
		width:100%;
		height:100%;
		transition:opacity 0.5s;
	}
}

.panel {

	a {
		
		color:$black;
		font-family:$sans-serif;
		//border-bottom: 1px $text-black dashed;
		font-weight:bold;
		
		&:hover {
			text-decoration:none;
		}
	}

	.continue a {
		border-bottom:none;
		
	}
	
	&.light {
		background:$light-brown;		
	}
}


.text-padding {
	padding:1em;
	@media (min-width:$screen-sm-min) {
		padding:50px;
	}
}

#driving {
	margin:0 auto;
	text-align:center;
	background:$black;
}

.extra-text-padding {
	@media (min-width:$screen-sm-min) {
		padding:100px 50px;
	}
}

.small-text-padding {
	padding:40px 20px;
	
}

.small-text-padding-narrow{

	padding:1em;	

	@media (min-width:$screen-sm-min) {
		padding:20px 60px;
	}
	
}

.full-width-image {
	#warning {
		
		height:350px;
		
		@media (min-width:$screen-sm-min) {
			height:500px
		}
		
	}
	
	.warning-text {
	
		padding:0em 0em 4em 0em;
	}
	
}

.characters {
	audio {
		margin:0 0 1em 1em;
		float:right;
	}
}

.centered {
	text-align:center;
			
	margin-bottom:1em; 	
	
	@media (min-width:$screen-sm-min) {
		picture {
			margin-bottom:0; 	
		}
	}
}

.full-width {
	width:100%;
}

.flowers-bg {

	background:url(../assets/flower_tile_large.jpg);
	border-bottom:1px solid $yellow;
	border-top:1px solid $yellow;
	
}

.rabbits-bg {
	background:url(../photos/act2-part4-tile.jpg);
	
	@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
	    only screen and (-o-min-device-pixel-ratio: 3/2),
	    only screen and (min--moz-device-pixel-ratio: 1.5),
	    only screen and (min-device-pixel-ratio: 1.5) {
	       body {
	            background:url(../photos/act2-part4-tile@2x.jpg);
	            background-size: 100px 71px;
	       }
	}
}

.film{
	background:$super-black;
	min-height:100%;
	height:100%;
	border-bottom:none;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.vertical-align {
  display: flex;
  flex-direction: row;
}

.vertical-align > [class^="col-"],
.vertical-align > [class*=" col-"] {
  display: flex;
  align-items: center;     /* Align the flex-items vertically */
  justify-content: center; /* Optional, to align inner flex-items 
                              horizontally within the column  */
}

.extra-bottom-padding {
	padding-bottom:80px;
}


.dropcap {
	text-transform:uppercase;
	font-family:$sans-serif;
	font-weight:bold;
	margin-right:0.2em;
}

.noise {
	position: relative;
	z-index: 1;
	}
	
.noise:before, .body-noise:before {
	content: "";
	position: absolute;
	z-index: -1;
	top:0;
	bottom:0;
	left:0;
	right:0;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAMAAAAp4XiDAAAAUVBMVEWFhYWDg4N3d3dtbW17e3t1dXWBgYGHh4d5eXlzc3OLi4ubm5uVlZWPj4+NjY19fX2JiYl/f39ra2uRkZGZmZlpaWmXl5dvb29xcXGTk5NnZ2c8TV1mAAAAG3RSTlNAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEAvEOwtAAAFVklEQVR4XpWWB67c2BUFb3g557T/hRo9/WUMZHlgr4Bg8Z4qQgQJlHI4A8SzFVrapvmTF9O7dmYRFZ60YiBhJRCgh1FYhiLAmdvX0CzTOpNE77ME0Zty/nWWzchDtiqrmQDeuv3powQ5ta2eN0FY0InkqDD73lT9c9lEzwUNqgFHs9VQce3TVClFCQrSTfOiYkVJQBmpbq2L6iZavPnAPcoU0dSw0SUTqz/GtrGuXfbyyBniKykOWQWGqwwMA7QiYAxi+IlPdqo+hYHnUt5ZPfnsHJyNiDtnpJyayNBkF6cWoYGAMY92U2hXHF/C1M8uP/ZtYdiuj26UdAdQQSXQErwSOMzt/XWRWAz5GuSBIkwG1H3FabJ2OsUOUhGC6tK4EMtJO0ttC6IBD3kM0ve0tJwMdSfjZo+EEISaeTr9P3wYrGjXqyC1krcKdhMpxEnt5JetoulscpyzhXN5FRpuPHvbeQaKxFAEB6EN+cYN6xD7RYGpXpNndMmZgM5Dcs3YSNFDHUo2LGfZuukSWyUYirJAdYbF3MfqEKmjM+I2EfhA94iG3L7uKrR+GdWD73ydlIB+6hgref1QTlmgmbM3/LeX5GI1Ux1RWpgxpLuZ2+I+IjzZ8wqE4nilvQdkUdfhzI5QDWy+kw5Wgg2pGpeEVeCCA7b85BO3F9DzxB3cdqvBzWcmzbyMiqhzuYqtHRVG2y4x+KOlnyqla8AoWWpuBoYRxzXrfKuILl6SfiWCbjxoZJUaCBj1CjH7GIaDbc9kqBY3W/Rgjda1iqQcOJu2WW+76pZC9QG7M00dffe9hNnseupFL53r8F7YHSwJWUKP2q+k7RdsxyOB11n0xtOvnW4irMMFNV4H0uqwS5ExsmP9AxbDTc9JwgneAT5vTiUSm1E7BSflSt3bfa1tv8Di3R8n3Af7MNWzs49hmauE2wP+ttrq+AsWpFG2awvsuOqbipWHgtuvuaAE+A1Z/7gC9hesnr+7wqCwG8c5yAg3AL1fm8T9AZtp/bbJGwl1pNrE7RuOX7PeMRUERVaPpEs+yqeoSmuOlokqw49pgomjLeh7icHNlG19yjs6XXOMedYm5xH2YxpV2tc0Ro2jJfxC50ApuxGob7lMsxfTbeUv07TyYxpeLucEH1gNd4IKH2LAg5TdVhlCafZvpskfncCfx8pOhJzd76bJWeYFnFciwcYfubRc12Ip/ppIhA1/mSZ/RxjFDrJC5xifFjJpY2Xl5zXdguFqYyTR1zSp1Y9p+tktDYYSNflcxI0iyO4TPBdlRcpeqjK/piF5bklq77VSEaA+z8qmJTFzIWiitbnzR794USKBUaT0NTEsVjZqLaFVqJoPN9ODG70IPbfBHKK+/q/AWR0tJzYHRULOa4MP+W/HfGadZUbfw177G7j/OGbIs8TahLyynl4X4RinF793Oz+BU0saXtUHrVBFT/DnA3ctNPoGbs4hRIjTok8i+algT1lTHi4SxFvONKNrgQFAq2/gFnWMXgwffgYMJpiKYkmW3tTg3ZQ9Jq+f8XN+A5eeUKHWvJWJ2sgJ1Sop+wwhqFVijqWaJhwtD8MNlSBeWNNWTa5Z5kPZw5+LbVT99wqTdx29lMUH4OIG/D86ruKEauBjvH5xy6um/Sfj7ei6UUVk4AIl3MyD4MSSTOFgSwsH/QJWaQ5as7ZcmgBZkzjjU1UrQ74ci1gWBCSGHtuV1H2mhSnO3Wp/3fEV5a+4wz//6qy8JxjZsmxxy5+4w9CDNJY09T072iKG0EnOS0arEYgXqYnXcYHwjTtUNAcMelOd4xpkoqiTYICWFq0JSiPfPDQdnt+4/wuqcXY47QILbgAAAABJRU5ErkJggg==);
	
	opacity : 0.8;

	}
	
.light-noise {
		position: relative;
		z-index: 1;
		}
	
.light-noise:before, .light-body-noise:before {
	content: "";
	position: absolute;
	z-index: -1;
	top:0;
	bottom:0;
	left:0;
	right:0;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAMAAAAp4XiDAAAAUVBMVEWFhYWDg4N3d3dtbW17e3t1dXWBgYGHh4d5eXlzc3OLi4ubm5uVlZWPj4+NjY19fX2JiYl/f39ra2uRkZGZmZlpaWmXl5dvb29xcXGTk5NnZ2c8TV1mAAAAG3RSTlNAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEAvEOwtAAAFVklEQVR4XpWWB67c2BUFb3g557T/hRo9/WUMZHlgr4Bg8Z4qQgQJlHI4A8SzFVrapvmTF9O7dmYRFZ60YiBhJRCgh1FYhiLAmdvX0CzTOpNE77ME0Zty/nWWzchDtiqrmQDeuv3powQ5ta2eN0FY0InkqDD73lT9c9lEzwUNqgFHs9VQce3TVClFCQrSTfOiYkVJQBmpbq2L6iZavPnAPcoU0dSw0SUTqz/GtrGuXfbyyBniKykOWQWGqwwMA7QiYAxi+IlPdqo+hYHnUt5ZPfnsHJyNiDtnpJyayNBkF6cWoYGAMY92U2hXHF/C1M8uP/ZtYdiuj26UdAdQQSXQErwSOMzt/XWRWAz5GuSBIkwG1H3FabJ2OsUOUhGC6tK4EMtJO0ttC6IBD3kM0ve0tJwMdSfjZo+EEISaeTr9P3wYrGjXqyC1krcKdhMpxEnt5JetoulscpyzhXN5FRpuPHvbeQaKxFAEB6EN+cYN6xD7RYGpXpNndMmZgM5Dcs3YSNFDHUo2LGfZuukSWyUYirJAdYbF3MfqEKmjM+I2EfhA94iG3L7uKrR+GdWD73ydlIB+6hgref1QTlmgmbM3/LeX5GI1Ux1RWpgxpLuZ2+I+IjzZ8wqE4nilvQdkUdfhzI5QDWy+kw5Wgg2pGpeEVeCCA7b85BO3F9DzxB3cdqvBzWcmzbyMiqhzuYqtHRVG2y4x+KOlnyqla8AoWWpuBoYRxzXrfKuILl6SfiWCbjxoZJUaCBj1CjH7GIaDbc9kqBY3W/Rgjda1iqQcOJu2WW+76pZC9QG7M00dffe9hNnseupFL53r8F7YHSwJWUKP2q+k7RdsxyOB11n0xtOvnW4irMMFNV4H0uqwS5ExsmP9AxbDTc9JwgneAT5vTiUSm1E7BSflSt3bfa1tv8Di3R8n3Af7MNWzs49hmauE2wP+ttrq+AsWpFG2awvsuOqbipWHgtuvuaAE+A1Z/7gC9hesnr+7wqCwG8c5yAg3AL1fm8T9AZtp/bbJGwl1pNrE7RuOX7PeMRUERVaPpEs+yqeoSmuOlokqw49pgomjLeh7icHNlG19yjs6XXOMedYm5xH2YxpV2tc0Ro2jJfxC50ApuxGob7lMsxfTbeUv07TyYxpeLucEH1gNd4IKH2LAg5TdVhlCafZvpskfncCfx8pOhJzd76bJWeYFnFciwcYfubRc12Ip/ppIhA1/mSZ/RxjFDrJC5xifFjJpY2Xl5zXdguFqYyTR1zSp1Y9p+tktDYYSNflcxI0iyO4TPBdlRcpeqjK/piF5bklq77VSEaA+z8qmJTFzIWiitbnzR794USKBUaT0NTEsVjZqLaFVqJoPN9ODG70IPbfBHKK+/q/AWR0tJzYHRULOa4MP+W/HfGadZUbfw177G7j/OGbIs8TahLyynl4X4RinF793Oz+BU0saXtUHrVBFT/DnA3ctNPoGbs4hRIjTok8i+algT1lTHi4SxFvONKNrgQFAq2/gFnWMXgwffgYMJpiKYkmW3tTg3ZQ9Jq+f8XN+A5eeUKHWvJWJ2sgJ1Sop+wwhqFVijqWaJhwtD8MNlSBeWNNWTa5Z5kPZw5+LbVT99wqTdx29lMUH4OIG/D86ruKEauBjvH5xy6um/Sfj7ei6UUVk4AIl3MyD4MSSTOFgSwsH/QJWaQ5as7ZcmgBZkzjjU1UrQ74ci1gWBCSGHtuV1H2mhSnO3Wp/3fEV5a+4wz//6qy8JxjZsmxxy5+4w9CDNJY09T072iKG0EnOS0arEYgXqYnXcYHwjTtUNAcMelOd4xpkoqiTYICWFq0JSiPfPDQdnt+4/wuqcXY47QILbgAAAABJRU5ErkJggg==);
	
	opacity : 0.4;

	}
	
	
	
	.hascaption {
		
		padding-top:80px;
		
		figcaption {
			
			padding:10px 0px;
			
			width:100%;
			color:$black;
			
			opacity:0;
			font-family:$sans-serif;
			
			line-height:150%;
			@include transition(0.4s,all,ease);
		}
		
		.narrow {
			max-width:350px;
		}
		
		
		.dark {
			color:$light-grey;
		}
	
		.black {
			color:$black;
		}
			
		&:hover {
		
			figcaption {
				
				opacity:0.6;
				
			}
		}
	
	}
	
	hr.style-eight {
	    padding: 0;
	    margin-top:25px;
	    width:300px;
	    border: none;
	    border-top: 2px double #D5AD6D;
	    color:	#D5AD6D; /*if no support for background-clip*/
	    	
	    	background: -webkit-linear-gradient(transparent, transparent),
	                 -webkit-linear-gradient(top, rgba(213,173,109,1) 0%, rgba(213,173,109,1) 26%, rgba(226,186,120,1) 35%, rgba(163,126,67,1) 45%, rgba(145,112,59,1) 61%, rgba(213,173,109,1) 100%);
	    	background: -o-linear-gradient(transparent, transparent);
	    	
	    text-align: center;
	}
	hr.style-eight:after {
	    content: "ยง";
	    display: inline-block;
	    position: relative;
	    top: -0.7em;
	    font-size: 1.5em;
	    padding: 0 0.25em;
	    background: none;
	    text-shadow: 0px 1px 0px rgba(255,255,255,0.3);
	}
	
.page-ornament {
	
	margin-top:50px;
	
	width:175px;
	height:26px;
	@include at2x('page-ornament',175px,26px);
	
	
	@media(min-width: $screen-sm-min) {
		width:350px;
		height:53px;
		@include at2x('page-ornament',350px,53px);
	}
	
	margin:0 auto;
	text-align:center;
	opacity:0.4;
}	
	
.shadowed {
    -webkit-filter: drop-shadow(4px 4px 12px rgba(0,0,0,0.3));
    -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=4, OffY=4, Color='#444')";
    filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=4, OffY=12, Color='#444')";
}

.floating-image {
	position:absolute;
	top:15%;	
}

#on-text {
	
	left:40px;
}

#tour-text {
	
	right:40px;
}


.warning-panel {
	
	#warning {
		border-bottom:1px solid rgba($black,0.2);
		
	}
	
	border-top:1px solid rgba($black,0.2);
	border-bottom:1px solid rgba($black,0.2);
	background:$black;	
}


.videoInner  {
	
	.video-caption {
		
		background:none;
		color:rgba($white,0);
		margin-top:50px;
		position:absolute;
		bottom:20px;
		width:100%;
		text-align:center;
		@include transition(0.4s, all, ease);		
	}
	
	&:hover {
	
		.video-caption {			
			color:rgba($white,0.5);

		}
	}
}


.paper {
	position: relative;
	z-index: 1;
}
	
.paper:before, .body-paper:before {
	content: "";
	position: absolute;
	z-index: -1;
	top:0;
	bottom:0;
	left:0;
	right:0;
	background-image: url(../assets/texture_two.jpg);	
	opacity : 0.8;
}

.credit {	
	
	font-family:$sans-serif;
	
	.logo {
		margin:1em;
		height:75px;
	}

	.long {
		width:200px;
		margin-bottom:2em;
	}
	
	text-align:center;	
	
	h3 {
		margin-top:2.2em;	
	}
	
	ul {
		list-style:none;
		margin:0;
		padding:0;
	
		li {
			font-size:1.2em;
			margin:0 0 0.2em 0;
			text-align:left;
			display:block;
			width:100%;
			
			span.what {
				width:50%;
				display:inline-block;
				padding:0.4em;
				float:left;
				text-align:right;
				font-weight:500;				
				background:$white;
			}
			
			span.who {	
				width:50%;
				display:inline-block;	
				padding:0.4em;	
				font-style:italic;
				font-family:$serif;
				background:$white;
				float:right;
				
				text-align:left;
				
				em {
					font-style:normal;
				}				
			}
			
			&:after {
				clear:both;
				content:'';
				display:table;
			}
			
		}
	}
}

.lazyload,
.lazyloading {
    opacity: 0;
}
.lazyloaded {
    opacity: 1;
    transition: opacity 300ms;
}
/*
.lazyloading {
    opacity: 1;
    transition: opacity 300ms;
    background: #f7f7f7 url(/assets/loader.gif) no-repeat center center;
}*/